@media screen and (max-width: 801px) {
  h1 img {
    padding-bottom: 15px;
    height: 100px;
  }

  h1 {
    font-size: 3rem;
  }

  .skills-container {
    flex-direction: column;
    padding: 0 20px;
  }

  .skills-container div {
    width: 100%;
  }

  .skills-container #personal {
    padding-top: 10px;
  }

  header ul {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
}

@media screen and (max-width: 550px) {
  h1 img {
    padding-bottom: 15px;
    height: 80px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }
  
  .project {
    width: 100%;
  }
}