html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: #000000;
  --light: #b19b50;
  --main: #99823c;
  --secondary: #816928;
  --dark: #695014;
  font-family: 'Overpass', sans-serif;
  color: var(--light);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  background: var(--light);
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

header li {
  padding: 10px;
  font-size: 1.4rem;
  padding-top: 15px;
}

a {
  color: var(--dark);
  text-decoration: none;
  outline: none;
}

a:hover {
  color: var(--main);
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 0;
}

.screen:target {
  padding-top: 3rem;
}

.screen:nth-of-type(even) {
  background-color: var(--light);
  color: #000;
}

h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  font-weight: 100;
  margin-bottom: 5px;
}

h1 img {
  padding-bottom: 15px;
  height: 130px;
}

h2 {
  color: var(--dark);
}

.skills-container {
  display: flex;
  padding: 0 150px;
}

.screen li {
  font-size: 1.3rem;
}

.skills-container div {
  padding: 0 25px;
  width: 50%;
}

ul.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
  list-style-type: none;
}

ul.list img {
  padding-right: 2px;
  height: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
}

.project {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
  word-break: break-word;
}

.project img {
  width: 100%;
  max-width: 800px;
  padding-bottom: 10px;
}

.project p {
  line-height: 2;
}